[ req ]
default_bits        = 2048
distinguished_name  = req_distinguished_name
prompt              = no
string_mask         = utf8only

[ req_distinguished_name ]
countryName         = CN
stateOrProvinceName = Guangdong
localityName        = Foshan
organizationName    = yicheng Company
organizationalUnitName = support Department
commonName          = *.yichenge.cn
emailAddress        = support@yichenge.cn
